
body {
    background: #6c757d;
    /*transition: all 1s ease-in-out;*/
    animation: backgroundColorChange 20s infinite;
}

@keyframes backgroundColorChange {
    0% {
        background: #6c757d;
    }
    12% {
        background: #6b7b86;

    }
    25% {
        background: #7293a3;
    }
    37% {
        background: #567887;
    }
    50% {
        background: #3c535e;
    }
    67% {
        background: #3a4750;

    }
    75% {
        background: #535b66;
    }
    87% {
        background: #6b717d;

    }
    100% {
        background: #6c757d;
    }


}


.social-icon {
    padding-left: 2px;
    padding-right: 2px;
    fill: white;

}

.social-icon:hover {
    padding-left: 2px;
    padding-right: 2px;
    fill: #bddcff;


}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}


.body-title {
    padding-top: 20px;
    color: #ffffff;
}

.form-group {
    padding: 2px;
}

.form-text, .form-text-inline {
    color: #ffffff;
}

.form-label, .form-label-inline, .form-check-label {
    color: #eeeeee;

}

.settings, .controls {
    background: #789AA9;
    border-radius: 2px;
    border-style: groove;
    border-color: #0c4128;
    margin: 10px;
}


.control-btn {
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

.theme-switcher {
    padding: 10px;
}

canvas {
    background: #789AA9;
    border-radius: 2px;
    border-style: groove;
    border-color: #0c4128;
    margin: 10px;

}


.source {
    color: red;
}

.target {
    color: blue;
}

.distance {
    color: #ffffff;
}


.obstacle {

    color: #000000;

}

.path {
    color: #0068B8;
}